{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="error">{{ error|trans }}</div>
{% endif %}

<div class="wrapper">
    <div class="content">
        <div id="form_wrapper" class="form_wrapper">
            <form class="login active" action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <h3>Login</h3>
                <div>
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    <span class="error">This is an error</span>
                </div>
                <div>
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input type="password" id="password" name="_password" required="required" />
                    <span class="error">This is an error</span>
                </div>
                <div class="bottom">
                    <div class="remember">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <span>Keep me logged in</span>
                    </div>
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    <div class="clear"></div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock fos_user_content %}
